.message {
	padding: 0.5rem 1rem 0.25rem;
	margin: 0.25rem 0;
	max-width: 60%;
	min-width: 15%;
	border-radius: 0.5rem;
}

.message.sent {
	margin-left: auto;
	/* margin-bottom: 1.5rem; */
	/* background: var(--accent-dark); */
	background: linear-gradient(to right, var(--accent-dark), var(--accent-75));
}

.message.received {
	margin-right: auto;
	/* background: var(--accent-darker); */
	background: linear-gradient(
		to left,
		var(--accent-darker),
		var(--accent-25)
	);
}

.message.milestone {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--bg-color);
	margin-right: auto;
	margin-left: auto;
	font-size: 0.75rem;
	padding: 0 1rem;
}

.message.milestone .body {
	margin-right: 1rem;
}

.message .body {
	padding: 0.5rem 0;
}

.message-status {
	display: flex;
	justify-content: flex-end;
}

.message-status .time {
	font-size: 0.5rem;
}
