.chat-app-container {
	height: 100vh;
	width: 100vw;
	backdrop-filter: brightness(0.2);

	display: flex;
	/* margin-bottom: -4.8rem; */
	position: fixed;
	top: 0;
	left: 0;
}

.left-panel {
	height: 100%;
	width: 30%;
	background: var(--bg-color-25);
	box-shadow: inset -1rem 0px 0.75rem -1.5rem var(--accent);
}

.right-panel {
	height: 100%;
	width: 70%;
	display: flex;
	flex-direction: column;
	/* background: var(--bg-color-50); */
	/* box-shadow: inset -1rem 0px 1rem -1.5rem var(--accent); */
}

.right-panel .header {
	height: 4rem;
	/* background: linear-gradient(to left, var(--accent-25), var(--accent-25)); */
	background: var(--accent-25);
	box-shadow: inset -1rem 0px 1rem -1.5rem var(--accent);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
}

.right-panel .icon-button {
	font-size: 2rem;
	position: fixed;
	top: 1rem;
	right: 1rem;
}

.right-panel .icon-button .icon {
	font-size: 2rem;
}

.connecting-icon {
	color: var(--accent);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.connecting-icon .icon {
	font-size: 5rem;
}
