.panel-title {
	padding: 0.5rem 1rem;
	background: linear-gradient(to left, var(--accent-25), var(--accent-50));
}

.panel-items {
	overflow: scroll;
	height: 95%;
}

.no-friends {
	padding: 1rem;
	text-align: center;
}
