@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

:root {
	--bg-color: #111;
	--bg-color-25: #1114;
	--bg-color-50: #1118;
	--bg-color-75: #111c;

	/*Accent #6600FF */
	--accent: #6600ff;
	--accent-25: #6600ff40;
	--accent-50: #6600ff80;
	--accent-75: #6600ffc0;
	--accent-dark: #308;
	--accent-darker: #190044;

	/* Status colors */
	--success: #080;
	--failure: #800;
	--pending: #aa0;

	/*Border */
	--border: #8884;
	--border-high: #60f4;

	/*Secondary #84f */
	--secondary: #84f;
	--secondary-dark: #84f;

	/* Text color */
	--text-color: #bbb;

	--trans-time: 0.5s;
}

* {
	box-sizing: border-box;
	margin: 0;
	/* backdrop-filter: blur(5px); */
	/* transition: all var(--trans-time) ease; */
}

button {
	border: none;
	cursor: pointer;
	border-radius: 0.25rem;
}

#root {
	font-family: 'Montserrat', sans-serif;
	background-color: var(--bg-color);
	background-image: url('./background.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	color: var(--text-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.center-elems {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
	width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #333;
}
